@import "./variables/typography.css";
@import "./variables/colors.css";
@import "./animations/index.css";

.box-shadow-hover:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4) !important;
  transition: box-shadow 0.3s ease-in-out;
}

ion-card {
  --background: transparent;
  box-shadow: none;
}

ion-menu {
  max-width: 220px !important;
}

ion-card-content {
  color: var(--text-color);
}

ion-card-content p {
  padding: 8px;
}

ion-card-content h1 {
  color: var(--title-color);
}

ion-card-content strong {
  font-weight: bold;
  font-size: 16px;
}
.content {
  --background: rgb(248, 248, 248);
  --color: var(--text-color);
}

.hide {
  display: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.card-sub {
  margin-top: 0;
  margin-bottom: 16px;
}

.clickable {
  cursor: pointer;
}

.h1-title {
  margin: 0;
  font-size: 22px;
}

.text-color {
  color: var(--text-color);
}

.sub-color {
  color: var(--sub-color);
}

.react-tag-input {
  background: inherit !important;
  border: none !important;
}

.center {
  display: flex;
  justify-content: center;
}

.main-logo-size {
  height: 100px;
  width: 100px;
}

.button {
  --color: --title-color;
}

.button-no-shadow {
  --box-shadow: none;
}

.button-border {
  border: 1px solid var(--store-border-color);
  border-radius: 5px;
}

.bottom-line-border {
  border-bottom: 1px solid var(--store-border-color);
}

.bottom-wrap-border {
  border-bottom: 1px solid var(--store-border-color);
  border-left: 1px solid var(--store-border-color);
  border-right: 1px solid var(--store-border-color);
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.right-line-border {
  border-right: 1px solid var(--store-border-color);
}

.line-border {
  border: 1px solid var(--store-border-color);
  border-radius: 10px;
}

.line-around {
  border: 1px solid var(--store-border-color);
}

.line-c-left {
  border-left: 1px solid var(--store-border-color);
  border-top: 1px solid var(--store-border-color);
  border-bottom: 1px solid var(--store-border-color);
}

.line-left-round-full {
  border: 1px solid var(--store-border-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.line-c-right {
  border-right: 1px solid var(--store-border-color);
  border-top: 1px solid var(--store-border-color);
  border-bottom: 1px solid var(--store-border-color);
}

.line-c-right-round {
  border-right: 1px solid var(--store-border-color);
  border-top: 1px solid var(--store-border-color);
  border-bottom: 1px solid var(--store-border-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fab {
  --color: black;
  --color-activated: black;
}

.fab-no-shadow {
  --box-shadow: none;
  margin: 5px;
}

.icon {
  height: 120px;
  width: 120px;
  border-radius: 6px;
}

.primary-input-label:focus-within {
  color: var(--ion-color-primary);
}

.primary-input-container input {
  border-bottom: 1px var(--ion-color-light-shade) solid !important;
}

.primary-input-container input:focus-within {
  box-shadow: 0 1px 0 var(--ion-color-primary) !important;
}

.primary-input-container:focus-within ion-label {
  color: var(--ion-color-primary);
}

.sc-ion-searchbar-md-h {
  --box-shadow: none;
}
