@import "./variables/typography.css";
@import "./variables/colors.css";
@import "./animations/index.css";

.tab {
  --color-selected: black;
}

box-shadow-hover:hover {
  box-shadow: var(--primary-box-shadow);
}
