@import "./variables/typography.css";
@import "./variables/colors.css";
@import "./animations/index.css";

.box-shadow-hover:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4) !important;
  transition: box-shadow 0.3s ease-in-out;
}

.content {
  --background: rgb(248, 248, 248);
}

.button {
  --color: black;
}

.bottom-line-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.fab {
  --color: black;
  --color-activated: black;
}

.primary-input-label:focus-within {
  color: var(--ion-color-primary);
}

.primary-input-container input {
  border-bottom: 1px var(--ion-color-light-shade) solid !important;
}

.primary-input-container input:focus-within {
  box-shadow: 0 1px 0 var(--ion-color-primary) !important;
}

.primary-input-container:focus-within ion-label {
  color: var(--ion-color-primary);
}

.sc-ion-searchbar-md-h {
  --box-shadow: none;
}
