@import "./variables/typography.css";
@import "./variables/colors.css";
@import "./animations/index.css";

.tab {
  --color-selected: black;
}

box-shadow-hover:hover {
  box-shadow: var(--primaryBoxShadow);
}

.content {
  --background: rgb(248, 248, 248);
}
/* #4AB4B2
#6ADAC3
#99FFCC */

.button {
  --color: black;
}

.fab {
  --color: black;
  --color-activated: black;
}

.primary-input-label:focus-within {
  color: var(--ion-color-primary);
}

.primary-input-container input {
  border-bottom: 1px var(--ion-color-light-shade) solid !important;
}

.primary-input-container input:focus-within {
  box-shadow: 0 1px 0 var(--ion-color-primary) !important;
}

.primary-input-container:focus-within ion-label {
  color: var(--ion-color-primary);
}

/* Remove Scrollbar */
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
}

ion-content::-webkit-scrollbar {
  display: none;
}
