.ProfileAppsContainer {
  display: flex;
  margin-left: 24px;
  margin-bottom: 8px;
  align-items: center;
}

.ProfileAppsRow {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.ProfileAppsRow img {
  border-radius: 6px;
}
