.ProfileAppsContainer {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.ProfileAppsRow {
  width: 100%;
  margin-top: 8px;
}

.ProfileAppsRow img {
  border-radius: 6px;
  margin-right: 8px;
}
