.PWACard {
  height: 190px;
  --background: transparent;
  box-shadow: none;
}

.PWACardHeader {
  padding: 0;
  margin-bottom: 0.25rem;
}

.PWACardImage {
  height: 120px;
  width: 120px;
  border-radius: 6px;
  background: transparent;
}

.PWACardTitle {
  font-size: 1rem;
}

.PWACardSubTitle {
  font-size: 0.75rem;
}

.PWACardContent {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
