.content {
  display: flex;
  justify-content: center;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 40px;
}

.title {
  font-size: 15px;
  max-height: 18px;
  overflow-x: hidden;
}

.fade-in {
  --background: transparent;
  height: 220px;
}
