.ProfileTopRow {
  display: flex;
  justify-content: space-between;
}

.ProfileCardCol {
  border-right: 1px solid var(--border-color);
  padding: 0;
}

.NoAppsNote {
  padding-left: 40px;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .ProfileCardCol {
    border-right: none;
  }
}
