.ScreenshotRow {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px;
}

.ScreenshotCol {
  margin: 12px;
}

.DeleteButtonBlock {
  position: relative;
  left: 88%;
  bottom: 3%;
}

.ScreenshotSliderImage {
  max-width: 250px;
  border-radius: 6px;
}

.ScreenshotDeleteButton {
  position: absolute;
  z-index: 100000;
}

.ScreenshotSliderImage:hover {
  cursor: pointer;
}

.ScreenshotSliderLightbox .ril-prev-button:focus,
.ScreenshotSliderLightbox .ril-next-button:focus {
  outline: solid var(--ion-color-primary) 2px;
}
