.ScreenshotRow {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 16px;
}

.ScreenshotCol {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 400px;
}

.DeleteButtonBlock {
  position: relative;
  left: 90%;
  bottom: 7%;
}

.ScreenshotSliderImage {
  max-height: 400px;
  max-width: 600px;
  border-radius: 6px;
}

.ScreenshotDeleteButton {
  --box-shadow: none;
}

.ScreenshotSliderImage:hover {
  cursor: pointer;
}

.ScreenshotSliderLightbox .ril-prev-button:focus,
.ScreenshotSliderLightbox .ril-next-button:focus {
  outline: solid var(--ion-color-primary) 2px;
}
