:root {
  --primary-background-gradient: linear-gradient(
    to bottom,
    #4ab4b2,
    #4fbbb6,
    #54c3b9,
    #5acabc,
    #61d1bf,
    #67d7c1,
    #6eddc4,
    #75e3c6,
    #7deac8,
    #86f1c9,
    #8ff8cb,
    #99ffcc
  );
  --primary-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
    0 -1px 0px rgba(0, 0, 0, 0.02);
}

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-font-family: Roboto Slab, serif;
  --ion-segment-button-color-checked: black;
  --ion-tab-bar-color-selected: #74b9ff;

  /** primary **/
  --ion-color-primary: #74b9ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #2d3436;
  --ion-color-primary-contrast-rgb: 47, 79, 79;
  --ion-color-primary-shade: #74b9ff;
  --ion-color-primary-tint: #74b9ff;

  --ion-color-github: #24292e;

  /** secondary **/
  --ion-color-secondary: #99b0a7;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #e74c3c;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #74b9ff;
}

.ion-color-twitter {
  --ion-color-base: #1da1f4;
  --ion-color-base-rgb: 29, 161, 244;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1a8ed7;
  --ion-color-tint: #34aaf5;
}

.ion-color-google {
  --ion-color-base: #dc4a38;
  --ion-color-base-rgb: 220, 74, 56;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c24131;
  --ion-color-tint: #e05c4c;
}

.ion-color-vimeo {
  --ion-color-base: #23b6ea;
  --ion-color-base-rgb: 35, 182, 234;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1fa0ce;
  --ion-color-tint: #39bdec;
}

.ion-color-facebook {
  --ion-color-base: #3b5998;
  --ion-color-base-rgb: 59, 89, 152;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #344e86;
  --ion-color-tint: #4f6aa2;
}

.ion-color-linkedin {
  --ion-color-base: #0e76a8;
  --ion-color-contrast: #ffffff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #1e2023;
    --ion-text-color: rgb(201, 200, 200);
  }
  .content {
    --background: #1e2023 !important;
  }
  .SideBarCategory {
    --background: #1e2023 !important;
  }
  strong,
  h2,
  .PWACardTitle {
    color: rgb(201, 200, 200) !important;
  }
}

/* Fall back */
.dark-theme {
  --ion-color-primary: #74b9ff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #eeeeee;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #74b9ff;
  --ion-color-primary-tint: #74b9ff;

  --ion-color-secondary: #99b0a7;
  --ion-color-secondary-rgb: 80, 200, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #006aff;
  --ion-color-tertiary-rgb: 106, 100, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #006aff;
  --ion-color-tertiary-tint: #006aff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47, 223, 117;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255, 213, 52;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255, 73, 97;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #303028;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #303028;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
  --ion-background-color: #121212;
  --starRatedColor: #eeeeee;
}

.dark-theme .content,
.dark-theme {
  --background: #121212 !important;
}

.dark-theme .SideBarCategory {
  --background: #161616 !important;
}

.dark-theme .SideBar {
  background: #161616 !important;
}

.dark-theme h2 {
  color: #eeeeee !important;
}

.dark-theme .RatingCommentBackground {
  background: #161616;
}

.dark-theme .RatingCommentTextArea {
  background: #161616;
}

.dark-theme .SideBarCategory {
  color: #eeeeee !important;
}

.dark-theme .CategoriesItemIcon {
  color: #eeeeee !important;
}

.dark-theme .StandardCategoriesItemIcon {
  color: #eeeeee !important;
}

.dark-theme .PWACardTitle {
  color: #eeeeee !important;
}

/* StarRatedColor.dark-theme {
  color: #eeeeee !important;
} */

/*iOS dark-theme */

.ios .dark-theme {
  --ion-background-color: #121212;
  --ion-text-color: #eeeeee;
  --ion-title-color: #eeeeee;
  --ion-color-step-50: #121212;
  --ion-toolbar-background: #161616;
  --color: #eeeeee !important;
  --ion-tab-bar-background: #161616 !important;
}

/*material design dark-theme */
.md .dark-theme {
  --ion-background-color: #121212;
  --ion-text-color: #eeeeee;
  --ion-title-color: #eeeeee;
  --ion-color-step-50: #121212;
  --ion-toolbar-background: #161616;
  --color: #eeeeee !important;
  --ion-tab-bar-background: #161616 !important;
}
