.HomeHeader {
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HomeInstallButton {
  margin-right: 16px;
}

.HomeHeaderHide {
  display: none;
}
