.HomeHeader {
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HomeInstallButton {
  margin-right: 16px;
}

.HomeHeaderHide {
  display: none;
}

.AppsColContainer {
  height: calc(100vh - 150px);
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: -40px;
}

@media screen and (max-width: 768px) {
  .AppsCol {
    display: none;
  }
}
