.PWACard {
  height: 190px;
  --background: transparent;
  box-shadow: none;
}

.PWACardHeader {
  padding: 0;
  margin-bottom: 0.25rem;
}

.SkeletonCardImage {
  height: 120px;
  width: 120px;
  border-radius: 6px;
}

.SkeletonCardRating {
  width: 80%;
}

.SkeletonCardTitle {
  width: 60%;
}

.SkeletonCardSubTitle {
  width: 40%;
}

.PWACardTitle {
  font-size: 1rem;
  max-height: 18px;
  overflow: hidden;
}

.PWACardSubTitle {
  font-size: 0.75rem;
}

.PWACardContent {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
