.PWAsBackButton {
  display: none;
}

.select {
  display: none;
}

.side {
  height: 100vh;
  padding: 0;
}

.PWAsEmptyNote {
  margin-left: 32px;
}

.CatTabButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .PWAsBackButton {
    display: inline;
  }

  .side {
    display: none;
  }

  .select {
    display: inline;
  }

  .seg {
    display: flex;
  }

  .CatTabButton {
    display: inline;
  }
}
