.PWAsHeader {
  display: none;
}

.PWAsEmptyNote {
  margin-left: 32px;
}

.PWAsTitle {
  margin-left: 20px;
}

.CatTabButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .PWAsHeader {
    display: inline;
  }

  .PWAsTitle {
    display: none;
  }

  .CatTabButton {
    display: inline;
  }
}
