.SideBarCategory {
  --min-height: 36px;
}

.StandardCategoriesItem {
  font-size: 15px;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--sub-color);
}

.StandardCategoriesItemIcon {
  margin-right: 0.5rem;
  color: var(--sub-color);
}

.CategoriesHeader {
  color: var(--sub-color);
}

.CategoriesItem {
  color: var(--sub-color);
  font-size: 12px;
  --color-activated: black;
}

.Selected {
  color: var(--ion-color-primary);
}

.CategoriesItemIcon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  color: var(--sub-color);
}
