.HomeRow {
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.HomeRowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HomeRowHeaderTitle {
  margin-left: 16px;
  font-size: 20px;
}

.HomeRowHeaderSubTitle {
  margin-left: 16px;
  color: var(--sub-color);
}

.HomeViewMoreLink {
  --background: inherit;
  --box-shadow: none;
}
