.HomeRow {
  height: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.HomeRowHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HomeRowHeaderTitle {
  margin-left: 16px;
}

.HomeRowHeaderSubTitle {
  margin-left: 16px;
}

.HomeViewMoreButton {
  --background: transparent;
  --box-shadow: none;
  --color: var(--ion-color-primary);
}
