.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileCardImg {
  border-radius: 50%;
  margin-top: 16px;
}

.ProfileCardLinks {
  width: 100%;
  display: flex;
  justify-content: center;
}

.DataRow {
  height: 80px;
}

.DataCol {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
