.ProfileCardLeft {
  display: flex;
}

.ProfileCardImg {
  border-radius: 50%;
  margin: 24px;
}

.ProfileCardLeftInfo {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .ProfileCardLeftCol {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  }
}
