.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileCardLeft {
  display: flex;
}

.ProfileCardLeftRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ProfileCardLinks {
}

.ProfileCardImg {
  border-radius: 50%;
  margin: 24px;
}

.ProfileCardLinks {
  width: 100%;
  display: flex;
  justify-content: center;
}

.DataRow {
  height: 60px;
}

.DataCol {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
